%h1 About
%p
  This was built by
  = link_to 'Ryan MacGillivray', 'https://twitter.com/ryanmacg'
  and was originally available on the
  = link_to 'Huffington Post' , 'http://www.huffingtonpost.co.uk/2015/01/27/ukip-soundbite-generator_n_6556154.html'
  as a static list.

  %p
    If you have some suggestions for list options please submit them
    = link_to 'here', submit_path
